.column {
  width: 20%;
  float: left;
  border-width: thin;
  border-style: dotted;
}
.column ul li{
  list-style: none;
}
.animate.ng-enter, 
.animate.ng-leave
{ 
    -webkit-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    height: 0px;
}
 
.animate.ng-enter.animate.ng-enter-active, 
.animate.ng-leave {
    height: 15px;
}
