<html ng-app>
<head>
  <script src="lib/angular/angular.min.js"></script> 
  <script src="js/controller.js"></script> 
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <title>The Savanna Model by Geoff Bond</title>
</head>
<body ng-controller="FoodListCtrl">
  <h1>The Savanna Model by Geoff Bond</h1>
  <div><input ng-model="query"></input></div>
  <div>
  <a href="#">About</a>
  <a href="#">Updates</a>
  <a href="#">Feedback</a>
  </div>
  <div class="column">
  <div ng-show="green_greens_veg_non_starchy.length + green_greens_herbs.length + green_greens_eggs.length + green_greens_finfish.length + green_greens_shellfish.length + green_greens_nuts.length + green_greens_plant_oils.length + green_greens_fish_oils.length + green_greens_beverages.length">
    <h2>Green-Green</h2>
    <h3>Superfoods!</h3>
  </div>
  <ul>
    <li ng-show="green_greens_veg_non_starchy.length">Vegetable:Non-Starchy
      <ul>
        <li ng-repeat="food in green_greens_veg_non_starchy = (green_greens | filter:{category:'Vegetable:Non-Starchy'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_herbs.length">Herbs
      <ul>
        <li ng-repeat="food in green_greens_herbs = (green_greens | filter:{category:'Herbs'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_eggs.length">Eggs
      <ul>
        <li ng-repeat="food in green_greens_eggs = (green_greens | filter:{category:'Eggs'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_finfish.length">Fish, Finfish
      <ul>
        <li ng-repeat="food in green_greens_finfish = (green_greens | filter:{category:'Fish, Finfish'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_shellfish.length">Fish, Shellfish
      <ul>
        <li ng-repeat="food in green_greens_shellfish = (green_greens | filter:{category:'Fish, shellfish'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_nuts.length">Nuts
      <ul>
        <li ng-repeat="food in green_greens_nuts = (green_greens | filter:{category:'Nuts'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <h4 ng-show="green_greens_plant_oils.length + green_greens_fish_oils.length">Fats & Oils</h4>
    <li ng-show="green_greens_plant_oils.length">Plant Oils
      <ul>
        <li ng-repeat="food in green_greens_plant_oils = (green_greens | filter:{category:'Plant Oils'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_fish_oils.length">Fish Oils
      <ul>
        <li ng-repeat="food in green_greens_fish_oils = (green_greens | filter:{category:'Fish Oils'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="green_greens_beverages.length">Beverages
      <ul>
        <li ng-repeat="food in green_greens_beverages = (green_greens | filter:{category:'Beverages'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
  </ul>
  </div>

  <div class="column">
  <div ng-show="greens_veg_non_starchy.length + greens_condiments.length + greens_fruit.length + greens_meat_farmed.length + greens_meat_offal.length + greens_meat_game.length + greens_meat_exotic.length + geens_plant_oils.length">
    <h2>Green</h2>
    <h3>Good Foods</h3>
  </div>
  <ul>
    <li ng-show="greens_veg_non_starchy.length">Vegetable:Non-Starchy
      <ul>
        <li ng-repeat="food in greens_veg_non_starchy = (greens | filter:{category:'Vegetable:Non-Starchy'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_condiments.length">Condiments
      <ul>
        <li ng-repeat="food in greens_condiments = (greens | filter:{category:'Condiments'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_sauces_dips.length">Sauces and Dips
      <ul>
        <li ng-repeat="food in greens_sauces_dips = (greens | filter:{category:'Sauces and Dips'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_fruits.length">Fruits
      <ul>
        <li ng-repeat="food in greens_fruits = (greens | filter:{category:'Fruits'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_meat_farmed.length">Meat, Farmed
      <ul>
        <li ng-repeat="food in greens_meat_farmed = (greens | filter:{category:'Meat, Farmed'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_meat_offal.length">Meat, Offal
      <ul>
        <li ng-repeat="food in greens_meat_offal = (greens | filter:{category:'Meat, Offal'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_meat_game.length">Meat, Game
      <ul>
        <li ng-repeat="food in greens_meat_game = (greens | filter:{category:'Meat, Game'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <li ng-show="greens_meat_exotic.length">Meat, Exotic
      <ul>
        <li ng-repeat="food in greens_meat_exotic = (greens | filter:{category:'Meat, Exotic'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
    <h4 ng-show="greens_plant_oils.length">Fats & Oils</h4>
    <li ng-show="greens_plant_oils.length">Plant Oils
      <ul>
        <li ng-repeat="food in greens_plant_oils = (greens | filter:{category:'Plant Oils'} | filter:query | orderBy:orderProp)">
          {{food.name}}
        </li>
      </ul>
    </li>
  </ul>
  </div>

</body>
</html>
